@import 'tailwindcss';
@tailwind utilities;
@config "../../tailwind.config.ts";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

a:hover {
  color: #ef7511;
  transition: all 0.2s ease-in-out;
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ef7511 !important;
}

.swiper-pagination-bullet-active {
  background-color: #ef7511 !important;
}
